<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://geektest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>geektest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>geektest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$geektest</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TestDataModel" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pvns94ev6o.database.windows.net;Initial Catalog=GeekTest;Persist Security Info=True;User ID=telogrejka;Password=ILikeYourFeet2500" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GeekTest.Models.TestContext, GeekTest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GeekTest.Models.GeekTestEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GeekTest.Models.GeekTestEntities, GeekTest" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GeekTest.Models.GeekTestEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestDataModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pvns94ev6o.database.windows.net;Initial Catalog=GeekTest;Persist Security Info=True;User ID=telogrejka;Password=ILikeYourFeet2500</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GeekTest.Models.GeekTestEntities" />
  </ItemGroup>
</Project>