@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>*@
    <h1>@ViewBag.Message</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
       @* <span class="label">Support:</span>*@
        <span><a href="mailto:osobocooldd@gmail.com.com">osobocooldd@gmail.com.com</a></span>
    </p>
</section>
