@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Главная</h1>
                @*<h2>@ViewBag.Message</h2>*@
            </hgroup>
            @*<p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>*@
        </div>
    </section>
}
<h3>C#</h3>
<ol class="round">
    <li class="ul">
        <h5>C# - Основы</h5>
        Тест "C# - Основы" посвящен основам программирования на C# под платформу .NET. <br>
        <a href="">Начать</a>
    </li>

    <li class="ul">
        <h5>C# - Средний уровень</h5>
        Тест С# среднего уровня посвящен практическим и теоретическим вопросам касающимся языка программирования С#.<br>
        <a href="">Начать</a>
    </li>
</ol>

<h3>Java</h3>
<ol class="round">
    <li class="ul">
        <h5>Java - Основы</h5>
        Тест по Java содержит вопросы, ответы на которые знает большинство разработчиков с минимальным опытом программирования на Java. <br>
        <a href="">Начать</a>
    </li>

    <li class="ul">
        <h5>Java- Средний уровень</h5>
        Тест ориентирован в первую очередь на программистов с опытом разработки программного обеспечения с использованием Java и родственных технологий.<br>
        <a href="">Начать</a>
    </li>
</ol>